<% content_for(:title,"药品信息录入")%>
<div class="text-center">
<%= form_for(@drug) do |f| %>
  <% if @drug.errors.any? %>
    <div>
      <ul>
      <% @drug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <legend>药品信息录入</legend>
  <div class="text-center">
  <div class="field offset2">
    <%= f.label "药品名称:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "药品价格:" %>
    <%= f.number_field :price %>&nbsp;&nbsp;&nbsp;元
  </div>
  <div class="actions">
    <%= f.submit "录入信息",class: "btn btn-success" %>
  </div>
</div>
<% end %>
</div>
