<% content_for(:title,'所有处方')%>
<div class="text-center">
<%= search_form_for @q do |f| %>
  <%= f.label :name_cont,"药品名称:"%>
  <%= f.text_field :name_cont %>
  <%= f.submit "查询",style: "margin-left: 30px;margin-top: -12px;",class: "btn btn-primary"%>
<% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>药品名称</th>
      <th>药品价格</th>
      <th>药品详情</th>
      <th>修改药品信息</th>
      <th>删除药品</th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td><%= drug.price %></td>
        <td><%= link_to '查看', drug,class: "btn btn-info" %></td>
        <td><%= link_to '修改', edit_drug_path(drug),class: "btn btn-primary" %></td>
        <td><%= link_to '删除', drug, method: :delete,class: "btn btn-danger", data: { confirm: '确定要删除该药品吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <%= paginate @drugs %>
<br>

<%= link_to '录入新药品', new_drug_path,class: 'btn pull-right' %>
