<%= form_for(@prescri) do |f| %>
  <% if @prescri.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescri.errors.count, "error") %> prohibited this prescri from being saved:</h2>

      <ul>
      <% @prescri.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" style="margin-left: 104px;">
    <%= f.label "患者姓名:" %>
    <%= f.text_field :patient_name %>
  </div>
  <div class="field">
    <%= f.label "患者性别:" %>
    <%= f.select :gender,['男','女'] %>
  </div>
  <div class="field">
    <%= f.label "患者年龄:" %>
    <%= f.number_field :age %>
  </div>
  <div class="field" style="margin-left: 104px;">
    <%= f.label "就诊科室:" %>
    <%= f.text_field :departments %>
  </div>
  <div class="field">
    <%= f.label "临床诊断:" %>
    <%= f.text_field :diagnose %>
  </div>
  <div class="field">
    <%= f.label "就诊时间:" %>
    <%= f.text_field :created_at,value: @prescri.created_at || Time.now.strftime("%Y-%m-%d %H:%M:%S") %>
  </div>
  <legend class="text-success">药品</legend>
  <table class="table">
    <thead> 
      <th>药品名称</th>
      <th>药品数量</th>
      <th>用法用量</th>
      <th><%= link_to_add_fields "添加药物", f, :prescri_drugs%></th>
    </thead>
    <tbody>
    <%= f.fields_for :prescri_drugs do |prescri_drug|%>
      <%= render "prescri_drug", :f => prescri_drug %>
    <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "生成处方",class: 'btn btn-success' %>
  </div>
<% end %>
