<tr>
  <td>
  <%= f.collection_select :drug_id,Drug.all,:id,:name %>
  </td>
  <td><%= f.number_field :amount %></td>
  <td><%= f.text_field :use_method%></td>
  <td><%= f.hidden_field :_destroy %>
  <%= f.hidden_field :id %>
  <%= link_to_function "删除药物", "remove_fields(this)",class: "btn btn-danger" %>
  </td>
</tr>