<% content_for(:title,'所有处方')%>
<div class="text-center">
<%= search_form_for @q do |f| %>
  <%= f.label :patient_name_cont,"患者姓名:"%>
  <%= f.text_field :patient_name_cont %>
  <%= f.submit "查询",style: "margin-left: 30px;margin-top: -12px;",class: "btn btn-primary"  %>
<% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>处方编号</th>
      <th>患者姓名</th>
      <th>患者年龄</th>
      <th>就诊部门</th>
      <th>临床诊断</th>
      <th>药品费用</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prescris.each do |prescri| %>
      <tr>
        <td><%= prescri.created_at.to_time.to_i%></td>
        <td><%= prescri.patient_name %></td>
        <td><%= prescri.gender %></td>
        <td><%= prescri.age %></td>
        <td><%= prescri.departments %></td>
        <td><%= prescri.diagnose %></td>
        <td><%= prescri.prescri_drugs.sum('total_price') %></td>
        <td><%= link_to '处方详情', prescri,class: "btn btn-small btn-info" %></td>
        <td><%= link_to '打印处方', new_one_prescri_path(prescri),class: "btn btn-small btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="text-center">
<%= paginate @prescris%>
</div>