<% content_for(:title,'所有处方')%>

<table class="table">
  <thead>
    <tr>
      <th>患者姓名</th>
      <th>患者姓名</th>
      <th>患者年龄</th>
      <th>就诊部门</th>
      <th>临床诊断</th>
      <th>药品费用</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prescris.each do |prescri| %>
      <tr>
        <td><%= prescri.name %></td>
        <td><%= prescri.patient_name %></td>
        <td><%= prescri.gender %></td>
        <td><%= prescri.age %></td>
        <td><%= prescri.departments %></td>
        <td><%= prescri.diagnose %></td>
        <td><%= prescri.total_price %></td>
        <td><%= link_to '处方详情', prescri,class: "btn btn-small" %></td>
        <td><%= link_to '打印处方', print_prescri_path(prescri),class: "btn btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>