<h3 class="text-center">桥村卫生室</h3>

<div class="prescri-info" style="margin-top: 30px;">
        <div  style="margin-left:124px;">
        编号:<span class="text-info" style="margin-left:10px;"><%= @prescri.id.to_s.rjust(7, '0')  %> </span></div>
        <div style="margin-left:45px;">
        姓名:<span class="text-info" style="margin-left:10px;"><%= @prescri.patient_name %> </span>
        </div>
        <div style="margin-left:45px;">
        年龄:<span class="text-info" style="margin-left:10px;"><%= @prescri.info %> </span>
        </div>
		<div style="margin-left:45px;">
        性别:<span class="text-info" style="margin-left:10px;"><%= @prescri.gender %> </span>
        </div>
        <div style="margin-left:124px; clear: left">
		就诊时间:<span class="text-info" style="margin-left:10px;"><%=@prescri.created_at.strftime("%Y-%m-%d") %> </span>
        </div>
        <div style="margin-left:45px;">
        诊断:<span class="text-info" style="margin-left:10px;"><%= @prescri.diagnose %> </span>
        </div>
        
</div>
<% if @prescri.prescri_drugs.any? %>
<div class="drug" style="margin-top: 80px; width:70%">
  <div style="margin-left:127px;">R:</div>
  <table class="table" style="margin-left:113px;">
    <thead> 
      <th>药品名称</th>
      <th>药品规格</th>
      <th>药品数量</th>
      <th>用法用量</th>       
    </thead>
    <% @prescri.prescri_drugs.each do |p|%>
    <tr>
      <td><%= p.drug_name%></td>
      <td><%= p.specifications %></td>
      <td><%= p.amount %></td>
      <td><%= p.use_method %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
  <div class="sign">
        <span style="margin-left:140px;">医生签名:</span>
        <span class="pull-right total-price">
             医药总费用:&#65509;&nbsp;<%= @prescri.prescri_drugs.sum("total_price") %>&nbsp;元
        </span>
  </div>		
</div>
<%= javascript_tag defer: 'defer' do -%>
    window.onload = window.print()
<% end -%>