<h3>桥村卫生所处方</h3>


<legend><span class="text-info"><%= @prescri.patient_name%></span><small>的处方</small></legend>
<p>
  <strong>患者姓名:</strong>
  <%= @prescri.patient_name %>
</p>

<p>
  <strong>患者性别:</strong>
  <%= @prescri.gender %>
</p>

<p>
  <strong>患者年龄:</strong>
  <%= @prescri.age %>
</p>

<p>
  <strong>就诊科室:</strong>
  <%= @prescri.departments %>
</p>

<p>
  <strong>临床诊断:</strong>
  <%= @prescri.diagnose %>
</p>

<p>
  <strong>就诊时间:</strong>
  <%= @prescri.created_at %>
</p>
<p>
  <strong>药品费用:</strong>
  <%= @prescri.total_price %>
</p>

<%= link_to '修改处方', edit_prescri_path(@prescri),class: 'btn btn-success' %>
<%= link_to '打印处方', print_prescri_path(@prescri),class: 'btn' %>
