<h3>桥村卫生所处方</h3>
<p>
  <strong>患者姓名:</strong>
  <%= @prescri.patient_name %>
</p>

<p>
  <strong>患者性别:</strong>
  <%= @prescri.gender %>
</p>

<p>
  <strong>患者年龄:</strong>
  <%= @prescri.age %>
</p>

<p>
  <strong>就诊科室:</strong>
  <%= @prescri.departments %>
</p>

<p>
  <strong>临床诊断:</strong>
  <%= @prescri.diagnose %>
</p>

<p>
  <strong>就诊时间:</strong>
  <%= @prescri.created_at %>
</p>
<p>
  <% if @prescri.prescri_drugs.any? %>
  <legend>药品</legend>
  <table class="table">
    <thead> 
      <th>药品名称</th>
      <th>药品单价</th>
      <th>药品数量</th>
      <th>药品总价</th>
      <th>用法用量</th>       
    </thead>
    <% @prescri.prescri_drugs.each do |p|%>
    <tr>
      <td><%= p.drug_name%></td>
      <td><%= p.base_price%></td>
      <td><%= p.amount %></td>
      <td><%= p.total_price%></td>
      <td><%= p.use_method %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</p>
<p>
  <strong>药品费用:</strong>
  &#65509;&nbsp;<%= @prescri.prescri_drugs.sum("total_price") %>&nbsp;元
</p>

<%= link_to '修改处方', edit_prescri_path(@prescri),class: 'btn btn-success' %>
<%= link_to '打印处方', print_prescri_path(@prescri),class: 'btn',target: :blank %>
